@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS GERAL  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1270px;
}

.blue,
.white {
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* propriedades personalizadas */
:root {
  --purple-color-principal: #3b3dfb;
  --full-black: #000000;
  --full-white: #ffffff;
  --shadow-search-bar: rgba(0, 0, 0, 0.25);
  --form-background-faded: rgba(83, 84, 96, 0.6);
  --shadow-form-box: rgba(211, 211, 211, 0.5);
}

/* Header */
header {
  display: flex;
  justify-content: center;
}

header .container {
  margin: 24px 0;
}

header ul {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

header ul li {
  height: 44px;
}

header .search-box {
  width: 600px;
  height: 44px;
  border: none;
  box-shadow: 0 1px 4px 1px var(--shadow-search-bar);
  border-radius: 5px;
}

header ul li nav {
  display: flex;
  gap: 36px;
}

nav .nav-button {
  height: 44px;
}

nav .white {
  color: var(--full-black);
}

nav .blue {
  width: 165px;
  background-color: var(--purple-color-principal);
  color: var(--full-white);
}

/* TEXT AND FORM */
.image-box-background {
  /* background-image: url(img/background-programming-banner.jpg);
  background-size:cover;
  background-position: center; */
  height: 90vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.banner-image {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0.87;
}

.text-form-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.left-column {
  width: 673px;
}

.left-column h1 {
  font-size: 64px;
  font-weight: bold;
  color: var(--full-white);
  text-transform: uppercase;
}

.left-column .blue-word {
  color: var(--purple-color-principal);
}

.right-column {
  width: 531px;
  background-color: var(--form-background-faded);
  display: flex;
  flex-direction: column;
  padding: 45px 40px;
  border-radius: 5px;
  color: var(--full-white);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
}

.right-column h2 {
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: bold;
}

.right-column p {
  margin-bottom: 12px;
}

.right-column input {
  width: 451px;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 45px;
  border: none;
  box-shadow: 0 1px 5px 0 var(--shadow-form-box);
}

.right-column a {
  align-self: flex-end;
  width: 242px;
  height: 51px;
  color: var(--full-white);
  background-color: var(--purple-color-principal);
}

/* Empresas cadastradas */
.blue-background { 
  background-color: var(--purple-color-principal);
  display: flex;
  justify-content: center;

}

.blue-background .container {
  margin: 35px 0;
}

.blue-background .container h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--full-white);
  margin-bottom: 35px;
}

.blue-background .container ul {
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 50px;
}

